<?php 
// On inclut la vue de base
require_once 'commun.phtml'; ?>

<?=$entete_vue; // On affiche l'entête provenant de la vue de base ?>

<div id="general">
    <h3>Envoi de fichier</h3>
    <form method="POST" action="index.php?page=charge" enctype="multipart/form-data">
        <div class="form-group">
            <!--<input type="hidden" name="MAX_FILE_SIZE" value="3000000" />-->
            <input type="file" class="form-control-file" id="envoi" name="envoi">
        </div>
        <button type="submit" class="btn btn-success btn-sm btn-block">Envoyer le fichier</button>
    </form>
</div>

<?php if(!empty($retour)) { // la variable $retour n'est vide qu'en cas d'erreur ?>

<div class="alert alert-success resultat" role="alert">
    <?=$retour;?>
</div>

<?php } elseif(!empty($erreur)) { // et inversement, $erreur est vide si il a eu un problème dans l'envoi ?>
<div class="alert alert-danger resultat" role="alert">
    <?=$erreur;?>
</div>
<?php } ?>

<?=$pied_vue; // On affiche le pied provenant de la vue de base?>