html, body {
    margin:0;
    padding:0;
}

body {
    width:400px;
    padding:0 10px;
    margin:0 auto;
}

h3 {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

form {
    width:340px;
    margin-left:auto;
    margin-right: auto;
}

#general {
    margin-top:100px;
    padding:10px;
    border: #000000 dotted 1px;
    border-radius: 10px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}

.resultat {
    margin-top:20px;
    padding:10px;
}